@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* colors */
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  /* font */
  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--charcoal-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up {
  background-color: var(--white);
  display: flex;
  flex-direction: row-reverse;
  width: 650px;
  height: 400px;
  margin: auto;
  justify-content: space-between;
  padding: 16px;
  border: none;
  border-radius: 20px;
  color: var(--dark-slate-grey);
}

/* #img-container {
  position: relative;
  overflow: hidden;
} */

#img-container img {
  height: 100%;
  width: auto;
}

#desktop-img {
  display: block;
}

#mobile-img {
  display: none;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

ul {
  list-style-type: none;
  list-style-image: url(./assets/images/icon-list.svg);
  list-style-position: inside;
}

h1 {
  font-size: 2.7rem;
}

p {
  display: inline;
  margin-bottom: 15px;
  font-size: 0.8rem;
}

#email-box,
#subscribe-button {
  height: 40px;
  border-radius: 5px;
}

#email-box {
  padding-left: 10px;
  border: 1px solid var(--grey);
}

label {
  font-size: x-small;
  font-weight: 700;
  margin-bottom: -15px;
}

#subscribe-button {
  border: 1px solid var(--charcoal-grey);
  background-color: var(--dark-slate-grey);
  color: var(--white);
}

#subscribe-button:hover {
  cursor: pointer;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--tomato),
    var(--tomato),
    orange
  );
  box-shadow: 5px 10px 20px rgba(255, 77, 0, 0.35);
}

#success-message-block {
  display: none;
}

#success-message {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: auto auto;
  justify-content: space-around;
  padding: 26px;
  border: none;
  border-radius: 20px;
  color: var(--dark-slate-grey);
}

.success-pic {
  display: block;
  height: 70px;
  align-self: self-start;
}

#dismiss-button {
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--charcoal-grey);
  background-color: var(--dark-slate-grey);
  color: var(--white);
}

#dismiss-button:hover {
  cursor: pointer;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--tomato),
    var(--tomato),
    orange
  );
  box-shadow: 5px 10px 20px rgba(255, 77, 0, 0.35);
}

@media (max-width: 375px) {
  body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sign-up {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
  }

  #img-container {
    flex: 1;
  }

  #img-container img {
    width: 105%;
    object-fit: cover;
  }

  #desktop-img {
    display: none;
  }

  #mobile-img {
    display: block;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    list-style-image: none;
    list-style-position: inside;
  }

  ul li::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(./assets/images/icon-list.svg);
    background-size: contain;
    margin-right: 8px;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    display: inline;
    margin-bottom: 15px;
    font-size: 0.7rem;
  } /*no change*/

  #email-box,
  #subscribe-button {
    height: 30px;
    border-radius: 5px;
  }

  #sign-in-block {
    display: block;
  }

  #success-message-block {
    display: none;
  }

  #success-message {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    /* justify-content: space-between; */
    padding: 26px;
  }

  .success-pic {
    display: block;
    height: 50px;
  }

  #dismiss-button {
    margin-bottom: -190px;
  }
}
